.bottom{
  position: fixed;
  bottom: 0px;
  width:100%;
  height: 100px;
  background: #000000;
  text-align: center;
  font-size: 50px;
  font-variant: small-caps;
  padding: 20px;
}

.linkbar {
  float: left;
  margin: 20% 25px auto 15px;
  width: 200px;
  background: #000000;

}

.maincontainer {
  padding: 30px;
  width: 500px;
  float: left;
  margin: 20px 40px 400px 0;
  background: #000000;
}

.white {
  color:#ffffff;
}

.bandpicture {
    width: 450px;
    border: solid 25px black;
}

.bandpic {
    float:right;
    width: 100px;
    border: solid 25px black;
}
